# Dataset Preparation

## Libraries

In [33]:
import cv2 
import matplotlib.pyplot as plt
import pandas as pd
import csv
import glob
import os

## Generating dataset

In [34]:
header = ["label"]
import cv2
import csv
import glob
 
header  =["label"]
for i in range(0,784):
    header.append("pixel"+str(i))
with open('dataset_a.csv', 'a') as f:
    writer = csv.writer(f)
    writer.writerow(header)

## Reading images and assigning labels

In [38]:
for label in range(135):
    dirList1 = glob.glob("C:/Users/madha/Downloads/trial2/data/"+str(label)+"/*.png")
    dirList2 = glob.glob("C:/Users/madha/Downloads/trial2/data/"+str(label)+"/*.jpg")
    dirList3 = glob.glob("C:/Users/madha/Downloads/trial2/data/"+str(label)+"/*.bmp")
    dirList = dirList1 + dirList2 + dirList3
    for img_path in dirList:
        im= cv2.imread(img_path)
        im_gray = cv2.cvtColor(im,cv2.COLOR_BGR2GRAY)
        im_gray = cv2.GaussianBlur(im_gray,(15,15), 0)
        roi= cv2.resize(im_gray,(28,28), interpolation=cv2.INTER_AREA)
        data=[]
        data.append(label)
        rows, cols = roi.shape
        ## Add pixel one by one into data array
        for i in range(rows):
            for j in range(cols):
                k =roi[i,j]
                data.append(k)
        with open('dataset.csv', 'a') as f:
            writer = csv.writer(f)
            writer.writerow(data)

## Dataset Loading

In [37]:
import pandas as pd
from sklearn.utils import shuffle
data  =pd.read_csv('dataset_d.csv')
data=shuffle(data)
data

,0,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,...,1.734,1.735,1.736,1.737,1.738,1.739,1.740,1.741,1.742,1.743
20627,15,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
72058,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5385,10,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
64944,54,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107475,103,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30416,19,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
46747,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26671,15,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15779,15,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
109000,103,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1